.logo {
   height: 4.6em;
   /* width: 5em; */
   background:#fff;
   margin-bottom: 1em;
 }

 /* .wrappingCard {
   width: inherit;
   height: -webkit-fill-available;
   background: #F5F9FC;
   padding-bottom: 1.5em;
 } */